$font-stack: Trebuchet MS, Arial, sans-serif;
$red-color: darkred;
$green-color: green;
$beige-color: beige;
$white-color: white;
$table-color: black;
$yellow-color: yellow;
$orange-color: orangered;
$brown-color: burlywood;
$default-buffer-number: 0;
